body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Roboto', sans-serif;
  background-color: #222222;
}

.image-slider {
  max-width: 750px;
  width: 100%;
  height: 500px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.image-slider__button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: none;
  color: white;
  background-color: transparent;
  font-size: 20px;
}

.image-slider__button--left {
  left: -10%;
  -webkit-transition: all 0.3s cubic-bezier(1, 0.01, 0.32, 1);
  transition: all 0.3s cubic-bezier(1, 0.01, 0.32, 1);
}

.image-slider__button--right {
  right: -10%;
  -webkit-transition: all 0.3s cubic-bezier(1, 0.01, 0.32, 1);
  transition: all 0.3s cubic-bezier(1, 0.01, 0.32, 1);
}

.image-slider:hover .image-slider__button--left {
  left: 5%;
}

.image-slider:hover .image-slider__button--right {
  right: 5%;
}

.image-slider__slide-btn {
  cursor: pointer;
  position: absolute;
  bottom: -10%;
  right: 5%;
  width: 30px;
  height: 30px;
  font-size: 10px;
  color: white;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: transparent;
  border: 1px solid white;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.image-slider:hover .image-slider__slide-btn {
  bottom: 10%;
}

.image-slider__img-box {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.image-slider__img {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
  color: white;
}

.image-slider__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.image-slider span {
  z-index: 1;
  color: white;
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 24px;
}

.preview-slider {
  margin-top: 25px;
  max-width: 750px;
  width: 100%;
  height: 100px;
  border-radius: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.preview-slider__img-box {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.preview-slider__img {
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
  color: white;
}

.preview-slider__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
/*# sourceMappingURL=style.css.map */